<div ng-controller="BookClubController as ctrl">
  <div class="row">
    <div class="col s12">
      <ul>
        <li class="card-panel hoverable" id="book-club-cards">
          <h3 class="book-club-name left"> {{ bookclub.name }} </h3>
          <ul class="right-align">
            <li class="book-club-genre"> {{bookclub.genre }} </li>
            <li class="book-club-description"> {{bookclub.description }} </li>
            <li class="book-club-location"> {{bookclub.location }} </li>
            <li class="book-club-day"> {{bookclub.day }} </li>
            <li class="book-club-time"> {{bookclub.time}} </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
