<div ng-controller="BookClubController as ctrl" ng-init="ctrl.getBookClubs()" class="book-clubs container">
  <div class="row">
    <div class="col s12">
      <ul>
        <li ng-repeat="bookclubs in ctrl.bookClubs" class="card-panel hoverable" id="book-club-cards">
          <h3 class="book-club-name left"> {{ bookclubs.name }} </h3>
          <ul class="right-align">
            <li class="book-club-genre"> {{bookclubs.genre }} </li>
            <li class="book-club-location"> {{bookclubs.location }} </li>
            <li class="book-club-day"> {{bookclubs.day }} </li>
            <li class="book-club-time"> {{bookclubs.time}} </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
